extends layout

block content
  ul
    li
      a(href="/report-feature/data") Отчет по доработке
    li
      a(href="/report-version/report") Отчет по версии
    li
      a(href="/test") Тестовая страница