doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(type="text/javascript", src="http://static.fusioncharts.com/code/latest/fusioncharts.js")
  body
    block content
