doctype html
html
  head
    title Работаем...
    meta(http-equiv='refresh', content='5')
    link(rel='stylesheet', href='/css/loader.css')
  body
    div.loading
      h2 Работаем...
      span
      span
      span
      span
      span
      span
      span